<?xml version="1.0"?>
<launch>

  <param name="use_sim_time" value="true" />

  <include file="$(find kingfisher_control)/launch/kingfisher_twist_control.launch"/>

  <!-- Provides transforms from utm->odom and odom->base_link -->
  <node pkg="geonav_transform" type="geonav_transform_node" name="geonav_transform_node" clear_params="true" output="screen">
    <!-- Datum as latitude, longitude [decimal deg.], yaw [ENU, degrees] -->
    <rosparam param="datum">[36.6137, -121.912, 0.0]</rosparam>
    <!-- Input -->
    <remap from="odometry/nav" to="nav_odom" />
    <!-- Output -->
    <remap from="odometry/utm" to="odom_utm" />
    <remap from="odometry/odom" to="odom" />
  </node>

</launch>